<h1>Us Univerisites</h1>

<div class="columns">
  <div class="column">
    <h2 class="title is-2">Top Us Univerisites</h2>
    <ol class="ml-5">
      <% @universities.each do |uni| %>
        <li>
          <%= link_to uni.name, uni %>
        </li>
      <% end %>
    </ol>
  </div>
</div>